[Unit]
Description=Start ECU FastAPI web server
After=docker.service tb_go2rtc.service multi-user.target
Wants=docker.service tb_go2rtc.service

[Service]
Type=simple
User=agrodroid
SupplementaryGroups=docker
WorkingDirectory=/home/agrodroid/releases/active_release
ExecStart=/usr/bin/env python3 web_control_center.py
Restart=on-failure
TimeoutStopSec=8

[Install]
WantedBy=multi-user.target
