[Unit]
Description=Play power-up sound on boot
After=sound.target multi-user.target

[Service]
Type=simple
User=agrodroid
ExecStart=/bin/bash -c 'sudo stty -F /dev/ttyTHS2 115200; sleep 10 && /usr/bin/mpv --no-video /home/agrodroid/Music/power_up.m4a'
Restart=no

[Install]
WantedBy=multi-user.target